In [1]:
import torch
print(torch.cuda.is_available())

True

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv(r"C:\Users\mkdog\Downloads\predictive_maintenance_dataset.csv" , encoding = "latin1")

In [4]:
data.head()

,ï»¿UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [5]:
data.shape

(10000, 14)

In [6]:
data.isnull()

,ï»¿UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
data.isnull().sum()

ï»¿UDI                     0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.metrics import confusion_matrix , accuracy_score , recall_score ,precision_score ,f1_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [9]:
scaling = StandardScaler()
svm = SVC()

In [10]:
svm_pipeline = Pipeline([("scaler",scaling),("model",svm)])

In [ ]:
# models = {"Forest" : RandomForestClassifier(n_estimators=500),
#          "SVM" : svm_pipeline,
#          "Tree" : DecisionTreeClassifier()
# }

In [11]:
data.head(500)

,ï»¿UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,H29909,H,297.5,309.3,1459,49.7,201,0,0,0,0,0,0
496,497,M15356,M,297.5,309.2,1530,40.0,206,0,0,0,0,0,0
497,498,L47677,L,297.4,309.0,1505,39.2,209,0,0,0,0,0,0
498,499,L47678,L,297.5,309.1,1611,30.2,211,0,0,0,0,0,0
499,500,L47679,L,297.5,309.1,1515,35.1,213,0,0,0,0,0,0

In [15]:
df = data.drop(["ï»¿UDI", "Product ID" , "TWF" , "TWF" , "PWF" , "OSF" ,"RNF","HDF"] , axis = 1)

In [16]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure
0,M,298.1,308.6,1551,42.8,0,0
1,L,298.2,308.7,1408,46.3,3,0
2,L,298.1,308.5,1498,49.4,5,0
3,L,298.2,308.6,1433,39.5,7,0
4,L,298.2,308.7,1408,40.0,9,0

In [20]:
X = df.drop('Machine failure', axis=1)
y = df['Machine failure']

In [21]:
cat_f = ['Type']
num_f = [
    'Air temperature [K]',
    'Process temperature [K]',
    'Rotational speed [rpm]',
    'Torque [Nm]',
    'Tool wear [min]'
]

In [23]:
X_train ,X_test , y_train , y_test =train_test_split(X,y ,test_size= 0.3, random_state=42,stratify=y)

In [24]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(drop='first'), cat_f),
        ('num', 'passthrough', num_f)
    ]
)

In [25]:
x_transformed = preprocessor.fit_transform(X_train)
x_test_trans = preprocessor.transform(X_test)

In [30]:
from imblearn.over_sampling import SMOTE

abc = SMOTE(random_state=42)
X_res, y_res = abc.fit_resample(x_transformed, y_train)

In [31]:
res = []

In [32]:
res.clear()

In [33]:
res

[]

In [34]:
print(res)

[]

In [35]:
frame = pd.DataFrame(res)

In [36]:
print(frame.columns)

RangeIndex(start=0, stop=0, step=1)

In [37]:
frame

Empty DataFrame
Columns: []
Index: []

In [40]:
pip install XGBoost  Catboost scikit-learn

Collecting XGBoost
  Using cached xgboost-3.2.0-py3-none-win_amd64.whl.metadata (2.1 kB)
Collecting Catboost
  Using cached catboost-1.2.8-cp311-cp311-win_amd64.whl.metadata (1.5 kB)
Requirement already satisfied: scikit-learn in c:\users\mkdog\torchenv\lib\site-packages (1.8.0)
Requirement already satisfied: numpy in c:\users\mkdog\torchenv\lib\site-packages (from XGBoost) (2.3.5)
Requirement already satisfied: scipy in c:\users\mkdog\torchenv\lib\site-packages (from XGBoost) (1.17.0)
Collecting graphviz (from Catboost)
  Using cached graphviz-0.21-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: matplotlib in c:\users\mkdog\torchenv\lib\site-packages (from Catboost) (3.10.8)
Requirement already satisfied: pandas>=0.24 in c:\users\mkdog\torchenv\lib\site-packages (from Catboost) (3.0.0)
Collecting plotly (from Catboost)
  Using cached plotly-6.5.2-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: six in c:\users\mkdog\torchenv\lib\site-packages (from Catboost) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in c:\users\mkdog\torchenv\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\mkdog\torchenv\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mkdog\torchenv\lib\site-packages (from pandas>=0.24->Catboost) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\mkdog\torchenv\lib\site-packages (from pandas>=0.24->Catboost) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mkdog\torchenv\lib\site-packages (from matplotlib->Catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\mkdog\torchenv\lib\site-packages (from matplotlib->Catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mkdog\torchenv\lib\site-packages (from matplotlib->Catboost) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\mkdog\torchenv\lib\site-packages (from matplotlib->Catboost) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\mkdog\torchenv\lib\site-packages (from matplotlib->Catboost) (26.0)
Requirement already satisfied: pillow>=8 in c:\users\mkdog\torchenv\lib\site-packages (from matplotlib->Catboost) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\mkdog\torchenv\lib\site-packages (from matplotlib->Catboost) (3.3.2)
Collecting narwhals>=1.15.1 (from plotly->Catboost)
  Using cached narwhals-2.16.0-py3-none-any.whl.metadata (14 kB)
Using cached xgboost-3.2.0-py3-none-win_amd64.whl (101.7 MB)
Using cached catboost-1.2.8-cp311-cp311-win_amd64.whl (102.5 MB)
Using cached graphviz-0.21-py3-none-any.whl (47 kB)
Using cached plotly-6.5.2-py3-none-any.whl (9.9 MB)
Using cached narwhals-2.16.0-py3-none-any.whl (443 kB)
Installing collected packages: narwhals, graphviz, XGBoost, plotly, Catboost
Successfully installed Catboost-1.2.8 XGBoost-3.2.0 graphviz-0.21 narwhals-2.16.0 plotly-6.5.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
from sklearn.ensemble import BaggingClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.linear_model import LogisticRegression

In [44]:
log = LogisticRegression(max_iter=1000)
lr_l1 = LogisticRegression(l1_ratio=1, solver= "saga",max_iter=1000,penalty="elasticnet")
lr_l2 = LogisticRegression(l1_ratio=0,solver="saga",max_iter=1000,penalty="elasticnet")

In [45]:
Log_pipeline = Pipeline([("scaler" , scaling),("model",log)])
lr_l1_pip = Pipeline([("scaler" , scaling),("model",lr_l1)])
lr_l2_pip = Pipeline([("scaler" , scaling),("model",lr_l2)])
xgb = XGBClassifier(
    learning_rate=0.03,
    n_estimators=700,
    max_depth=7,
    random_state=42
)

cat = CatBoostClassifier(
    learning_rate=0.03,
    iterations=700,
    depth=7,
    random_state=42,
    verbose=0
)

In [46]:
models = {"Forest" : RandomForestClassifier(),
         "SVM" : svm_pipeline,
         "Tree" : DecisionTreeClassifier(),
         "logistic" : log,
         "L!":lr_l1_pip,
         "l2":lr_l2_pip,
         "Bagging": BaggingClassifier(),
         "XG" : xgb,
         "CAT" :cat,
}

In [47]:
res=[]

In [48]:
res

[]

In [49]:
res.clear()

In [50]:
for name , model in models.items():
    model.fit(X_res,y_res)
    y_pred = model.predict(x_test_trans)

    cm =confusion_matrix(y_test,y_pred)
    aas=accuracy_score(y_test,y_pred)
    ps=precision_score(y_test,y_pred)
    rs=recall_score(y_test,y_pred)
    f1 = f1_score(y_test,y_pred)
    res.append({"Model": name,
                   "Confusion Matrix" : cm,
                   "Accuracy":aas,
                   "Precision ": ps,
                   "recall": rs,
                   "F1 score" : f1
                  })

c:\Users\mkdog\torchenv\Lib\site-packages\sklearn\linear_model\_logistic.py:1135: FutureWarning: 'penalty' was deprecated in version 1.8 and will be removed in 1.10. To avoid this warning, leave 'penalty' set to its default value and use 'l1_ratio' or 'C' instead. Use l1_ratio=0 instead of penalty='l2', l1_ratio=1 instead of penalty='l1', and C=np.inf instead of penalty=None.
  warnings.warn(
c:\Users\mkdog\torchenv\Lib\site-packages\sklearn\linear_model\_logistic.py:1135: FutureWarning: 'penalty' was deprecated in version 1.8 and will be removed in 1.10. To avoid this warning, leave 'penalty' set to its default value and use 'l1_ratio' or 'C' instead. Use l1_ratio=0 instead of penalty='l2', l1_ratio=1 instead of penalty='l1', and C=np.inf instead of penalty=None.
  warnings.warn(

In [51]:
df = pd.DataFrame(res)

In [52]:
df

      Model         Confusion Matrix  Accuracy  Precision     recall  F1 score
0    Forest   [[2819, 79], [43, 59]]  0.959333    0.427536  0.578431  0.491667
1       SVM  [[2713, 185], [26, 76]]  0.929667    0.291188  0.745098  0.418733
2      Tree  [[2797, 101], [33, 69]]  0.955333    0.405882  0.676471  0.507353
3  logistic  [[2426, 472], [20, 82]]  0.836000    0.148014  0.803922  0.250000
4        L!  [[2428, 470], [19, 83]]  0.837000    0.150090  0.813725  0.253435
5        l2  [[2427, 471], [19, 83]]  0.836667    0.149819  0.813725  0.253049
6   Bagging   [[2820, 78], [40, 62]]  0.960667    0.442857  0.607843  0.512397
7        XG   [[2839, 59], [25, 77]]  0.972000    0.566176  0.754902  0.647059
8       CAT   [[2825, 73], [24, 78]]  0.967667    0.516556  0.764706  0.616601