In [1]:
import torch
print(torch.cuda.is_available())

True

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv(r"C:\Users\mkdog\Downloads\predictive_maintenance_dataset.csv" , encoding = "latin1")

In [4]:
data.head()

,ï»¿UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [5]:
data.shape

(10000, 14)

In [6]:
data.isnull()

,ï»¿UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
data.isnull().sum()

ï»¿UDI                     0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.metrics import confusion_matrix , accuracy_score , recall_score ,precision_score ,f1_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [9]:
scaling = StandardScaler()
svm = SVC()

In [10]:
svm_pipeline = Pipeline([("scaler",scaling),("model",svm)])

In [ ]:
# models = {"Forest" : RandomForestClassifier(n_estimators=500),
#          "SVM" : svm_pipeline,
#          "Tree" : DecisionTreeClassifier()
# }

In [12]:
data.head(1000)

,ï»¿UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,L48175,L,296.3,307.3,1566,35.8,175,0,0,0,0,0,0
996,997,M15856,M,296.3,307.2,1286,51.1,177,0,0,0,0,0,0
997,998,M15857,M,296.3,307.2,1446,45.9,180,0,0,0,0,0,0
998,999,M15858,M,296.4,307.2,2071,19.4,183,0,0,0,0,0,0
999,1000,L48179,L,296.3,307.1,1560,33.2,186,0,0,0,0,0,0

In [13]:
df = data.drop(["ï»¿UDI", "Product ID" , "TWF" , "TWF" , "PWF" , "OSF" ,"RNF","HDF"] , axis = 1)

In [14]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure
0,M,298.1,308.6,1551,42.8,0,0
1,L,298.2,308.7,1408,46.3,3,0
2,L,298.1,308.5,1498,49.4,5,0
3,L,298.2,308.6,1433,39.5,7,0
4,L,298.2,308.7,1408,40.0,9,0

In [15]:
X = df.drop('Machine failure', axis=1)
y = df['Machine failure']

In [16]:
cat_f = ['Type']
num_f = [
    'Air temperature [K]',
    'Process temperature [K]',
    'Rotational speed [rpm]',
    'Torque [Nm]',
    'Tool wear [min]'
]

In [85]:
X_train ,X_test , y_train , y_test =train_test_split(X,y , random_state=42,stratify=y)

In [45]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(drop='first'), cat_f),
        ('num', 'passthrough', num_f)
    ]
)

In [86]:
x_transformed = preprocessor.fit_transform(X_train)
x_test_trans = preprocessor.transform(X_test)

In [87]:
from imblearn.over_sampling import SMOTE

abc = SMOTE(random_state=42)
X_res, y_res = abc.fit_resample(x_transformed, y_train)

In [88]:
res = []

In [89]:
res.clear()

In [90]:
res

[]

In [91]:
print(res)

[]

In [92]:
frame = pd.DataFrame(res)

In [93]:
print(frame.columns)

RangeIndex(start=0, stop=0, step=1)

In [94]:
frame

Empty DataFrame
Columns: []
Index: []

In [96]:
from sklearn.ensemble import BaggingClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
log = LogisticRegression(max_iter=1000)
lr_l1 = LogisticRegression(l1_ratio=1, solver= "saga",max_iter=1000,penalty="elasticnet")
lr_l2 = LogisticRegression(l1_ratio=0,solver="saga",max_iter=1000,penalty="elasticnet")

In [158]:
Log_pipeline = Pipeline([("scaler" , scaling),("model",log)])
lr_l1_pip = Pipeline([("scaler" , scaling),("model",lr_l1)])
lr_l2_pip = Pipeline([("scaler" , scaling),("model",lr_l2)])
xgb = XGBClassifier(
    learning_rate=0.03,
    n_estimators=700,
    max_depth=5,
    random_state=42
)

cat = CatBoostClassifier(
    learning_rate=0.03,
    iterations=700,
    depth=5,
    random_state=42,
    verbose=0
)

In [159]:
models = {"Forest" : RandomForestClassifier(),
         "SVM" : svm_pipeline,
         "Tree" : DecisionTreeClassifier(),
         "logistic" : log,
         "L!":lr_l1_pip,
         "l2":lr_l2_pip,
         "Bagging": BaggingClassifier(),
         "XG" : xgb,
         "CAT" :cat,
}

In [160]:
res=[]

In [161]:
res

[]

In [162]:
res.clear()

In [163]:
for name , model in models.items():
    model.fit(X_res,y_res)
    y_pred = model.predict(x_test_trans)

    cm =confusion_matrix(y_test,y_pred)
    aas=accuracy_score(y_test,y_pred)
    ps=precision_score(y_test,y_pred)
    rs=recall_score(y_test,y_pred)
    f1 = f1_score(y_test,y_pred)
    res.append({"Model": name,
                   "Confusion Matrix" : cm,
                   "Accuracy":aas,
                   "Precision ": ps,
                   "recall": rs,
                   "F1 score" : f1
                  })

C:\Users\mkdog\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:1135: FutureWarning: 'penalty' was deprecated in version 1.8 and will be removed in 1.10. To avoid this warning, leave 'penalty' set to its default value and use 'l1_ratio' or 'C' instead. Use l1_ratio=0 instead of penalty='l2', l1_ratio=1 instead of penalty='l1', and C=np.inf instead of penalty=None.
  warnings.warn(
C:\Users\mkdog\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:1135: FutureWarning: 'penalty' was deprecated in version 1.8 and will be removed in 1.10. To avoid this warning, leave 'penalty' set to its default value and use 'l1_ratio' or 'C' instead. Use l1_ratio=0 instead of penalty='l2', l1_ratio=1 instead of penalty='l1', and C=np.inf instead of penalty=None.
  warnings.warn(

In [164]:
df = pd.DataFrame(res)

In [165]:
df

      Model         Confusion Matrix  Accuracy  Precision     recall  F1 score
0    Forest   [[2350, 65], [30, 55]]    0.9620    0.458333  0.647059  0.536585
1       SVM  [[2245, 170], [19, 66]]    0.9244    0.279661  0.776471  0.411215
2      Tree   [[2352, 63], [29, 56]]    0.9632    0.470588  0.658824  0.549020
3  logistic  [[2017, 398], [17, 68]]    0.8340    0.145923  0.800000  0.246824
4        L!  [[2020, 395], [17, 68]]    0.8352    0.146868  0.800000  0.248175
5        l2  [[2019, 396], [17, 68]]    0.8348    0.146552  0.800000  0.247723
6   Bagging   [[2346, 69], [29, 56]]    0.9608    0.448000  0.658824  0.533333
7        XG   [[2355, 60], [19, 66]]    0.9684    0.523810  0.776471  0.625592
8       CAT   [[2331, 84], [18, 67]]    0.9592    0.443709  0.788235  0.567797